{# A common template to re-use accross all pages of the application #}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bootstrap Exercice - Innovation.io</title>

    <!-- Font Awesome -->
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">

    <link rel="stylesheet" href="./style.scss">
  </head>

  <body>
    <div class="container-fluid">
      <header>
      </header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Innovation.io</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.njk">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="team.njk">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
       <div class="content">
        {% block content %}
        {% endblock %}
       </div>
      <!-- Footer -->
      <footer class="page-footer font-small blue pt-4">
        <hr>
          <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">
                <!-- Content -->
                <h5 class="text-uppercase"></h5>
                <p></p>
              </div>
                  <!-- Links -->
                  <ul class="list-unstyled">
                    <li>
                      <a href="#!">Front page</a>
                    </li>
                    <li>
                      <a href="#!">Team</a>
                    </li>
                    <li>
                      <a href="#!">Contact</a>
                    </li>
                  </ul>
                </div>
                  <!-- Links -->
          <!-- Footer Links -->
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="">Innovation.io</a>
          </div>
          <!-- Copyright -->
      </div>
      </footer>
      <!-- Footer -->
    <script src="./script.js"></script>
  </body>
</html>
