
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/
.quoteContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.quoteTxt {
  margin:auto;
  font-size: 2rem;
  color: black;
}
.joe {
  border-radius: 50%;
  border: solid 2px black;
}
.iqChart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.iqChart {
  border-radius: 1%;
}
.carousel-caption p {
  font-size: 1.5rem;
}
.carousel-caption h3 {
  color: white;
}
.navbar-nav {
  width: 100%;
}
.nav-link {
  width: 33%;
}
