{% extends "_common.njk" %}

{% block content %}
<p>
<!-- Section: Team v.3 -->
<section class="team-section my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Our amazing team</h2>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5"></p>

  <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="jamal.png" class="z-depth-1" alt="Sample avatar" style="widows: 250px;height:auto;border-radius:50%;margin-bottom:10%;">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Jamal Rabujev</h4>
        <h6 class="font-weight-bold grey-text mb-3">CEO</h6>
        <p class="grey-text">I make sure our ressources are managed efficiently.</p>
        <!-- Facebook-->
        <a class="p-2 fa-lg git-ic" href="https://github.com/rabujev">
          <i class="fab fa-github"> </i>
        </a>
        <!--Dribbble -->
        <a class="p-2 fa-lg li-ic" href="https://www.linkedin.com/in/jamal-rabujev/">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="joe.png" class="z-depth-1" alt="Sample avatar" style="width:250px;height:auto;border-radius:50%;margin-bottom:10%;">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Joé Michel</h4>
        <h6 class="font-weight-bold grey-text mb-3">CFO</h6>
        <p class="grey-text">I take care of the finances of the company.</p>
        <!-- Facebook-->
        <a class="p-2 fa-lg git-ic" href="https://github.com/joe-michel">
          <i class="fab fa-github"> </i>
        </a>
        <!--Instagram-->
        <a class="p-2 fa-lg li-ic" href='https://www.linkedin.com/in/joe-michel-3549b55/'>
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->

  <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-xl-0 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="matthieu.jpg" class="z-depth-1 img-circle" alt="Sample avatar" style="width:250px;height:250px;border-radius:50%;">
      </div>
      <div class="mx-4" style="word-wrap:break-word;">
        <h4 class="font-weight-bold mb-3">Matthieu Jasselette</h4>
        <h6 class="font-weight-bold grey-text mb-3">Front-end Developer</h6>
        <p class="grey-text">I am in charge of making our product intuitive and appealing to the client.</p>
        <!-- Facebook-->
        <a class="p-2 fa-lg git-ic" href="https://github.com/MatthieuJasselette">
          <i class="fab fa-github"> </i>
        </a>
        <!-- GitHub-->
        <a class="p-2 fa-lg li-ic" href="https://www.linkedin.com/in/matthieu-jasselette-8a3980120/">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="romain.jpg" class="z-depth-1 img-fluid" style="width:250px;height:auto;border-radius:50%;" alt="Sample avatar">
      </div>
      <div class="mx-4" style="word-wrap:break-word;">
        <h4 class="font-weight-bold mb-3">Romain Monticelli</h4>
        <h6 class="font-weight-bold grey-text mb-3">Back-end Developer</h6>
        <p class="grey-text">Don't talk to me about Bootstrap.</p>
        <!-- Google +-->
        <a class="p-2 fa-lg git-ic" href="https://github.com/MonticelliRomain">
          <i class="fab fa-github"> </i>
        </a>
        <!--LinkedIn -->
        <a class="p-2 fa-lg li-ic" href="https://www.linkedin.com/in/romain-monticelli-97b9bb178/">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->

</section>
<!-- Section: Team v.3 -->
</p>
{% endblock %}
